<div class="col-md-2">
	<form>
		<div class="form-group">
			<label>Search</label>
			<input type="text" ng-model="filter_products" class="form-control" placeholder="Search...">
		</div>
	</form>
	<h3><u>New Customers</u></h3>
	<p ng-repeat="customer in customers | limitTo: maxItems">{{ customer.name }} joined the store. (<span am-time-ago="customer.created_at"></span>)</p>
	<div id="button-wrapper">
		<button class="btn btn-default" ng-click="maxItems=customers.length" ng-show="maxItems <= 3">Show All</button>
		<button class="btn btn-default" ng-click="maxItems=3" ng-show="maxItems > 3">Limit Entries</button>
	</div>

	<h3><u>Show All Products<u></h3>
	<div id="button-wrapper">
		<button class="btn btn-default" ng-click="maxProducts=customers.length" ng-show="maxProducts <= 4">Show All</button>
		<button class="btn btn-default" ng-click="maxProducts=4" ng-show="maxProducts > 4">Limit Entries</button>
	</div>
</div>

<div ng-cloak class="col-md-2 text-center" ng-repeat="product in products | filter: filter_products | limitTo: maxProducts">
	<img src="{{ product.image_url }}" alt="An Image" class="pics">
	<p>{{ product.product_name }}</p>
	<p ng-if="product.qty > 0"><small>({{ product.qty }} left in stock)</small></p>
	<p ng-if="product.qty === 0" class="errors">None left in stock</p>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<h3><u>Recent Orders</u></h3>
		<p class="big-p" ng-repeat="order in orders | limitTo: maxOrders">{{ order.customer_name }} purchased {{ order.order_qty }} {{ order.product_name }}(s) (<span am-time-ago="order.created_at"></span>)</p>
		<div id="button-wrapper">
			<button class="btn btn-default" ng-click="maxOrders=customers.length" ng-show="maxOrders <= 4">Show All</button>
			<button class="btn btn-default" ng-click="maxOrders=4" ng-show="maxOrders > 4">Limit Entries</button>
		</div>
	</div>
</div>