// variables
$chosen-color: lighten(black, 10%);
$errors-color: darken(red, 20%);
// globals
html, body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

p {
	margin: 0;
}

textarea {
	resize: none !important;
}
// classes
.chosen {
	color: $chosen-color !important;
	font-weight: bold;
}

.errors {
	color: $errors-color;
	margin-bottom: 1em;
}

.pics {
	width: 100%;
	max-height: 50%;
}
// ids
